\/*
	Programmer name: Steven Burgess
	Date Created: Sept. 7th, 2016
	Date of Last Maintenance: Sept. 8th 2016
	File Name: style_large.css
*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

aside{
	float: left;
	margin-right: 35px;
	border: 5px solid black;
	padding: 5px;
	margin: 30px;
}

main, .main{
	float: right;
	text-align: center;
	border: 10px solid black;
	padding: 10px;
	margin: 10px;
}

table{
	border-collapse: collapse;
}

td{
	border-bottom: 1px solid black;
}

tr{
	border: none;
}
